<!DOCTYPE html>
<html lang="en">
<% let cnt=0; const shuffleArray=(sourceArr)=> {
    const array = sourceArr.concat();
    const arrayLength = array.length;
    for (let i = arrayLength - 1; i >= 0; i--) {
    const randomIndex = Math.floor(Math.random() * (i + 1));
    [array[i], array[randomIndex]] = [array[randomIndex], array[i]];
    }
    return array;
    };
    const shuffled = shuffleArray(keywords);

    %>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Drawing Game</title>
        <link rel="stylesheet" href="/lib/game.css">
    </head>



    <body>
        <header>
            <h1 id="timer">TIME : 0:00</h1>
            <br>
            <h1>Keyword &darr; </h1>
            <h1 class="keyword">
            </h1>
            <h1 class="result"></h1>
        </header>

        <canvas></canvas>
        <form method="post" action="/result">
            <h1 class="score">
                Score : 0
            </h1>
            <br>
            <div class="btns">
                <label for="color">
                    Chose Color
                    <input type="color" id="color">
                </label>
                <input id="line-width" type="range" min="1" max="10" value="3" step="0.1">
                <button type="button" id="mode-btn">🪣Fill</button>
                <button type="button" id="reset-btn">❌Reset</button>
                <button type="button" id="eraser-btn">Erase</button>
                <button id="submit" type="button">Submit</button>
            </div>
            <p class="keywordContainer" style="display: none;">
                <%=shuffled%>
            </p>
        </form>
    </body>
    <script src="/lib/game.js"></script>

</html>