<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing Game</title>
    <link rel="stylesheet" href="lib/welcome.css">
</head>

<body>
    <div class="description">
        <h1>게임설명</h1>
        <div>
            <p>1. 총 5개의 키워드와 제한시간 3분이 주어집니다.</p>
            <p>2. 제시어에 맞게 그림을 그린 후 Submit 버튼을 클릭하면 채점 후 점수가 반영됩니다. </p>
            <p>3. 제출된 답은 Google Vision API에게 전달 후 AI가 키워드를 맞추면 정답으로 처리됩니다.</p>
            <p>4. 제한시간 3분이 지나거나 5점을 흭득하면 게임이 종료됩니다.</p>
            <p>5. 우측 메뉴에서 펜의 설정을 변경할 수 있습니다.</p>
            <p>!!!중요!!! 유료API라 2023년 7월 3일 까지 실행 가능합니당. !!!중요!!!</p>
        </div>
        <a href="/game"><button>게임 시작</button></a>
    </div>

</body>

</html>